<div>
    <div class="card">
      <div class="card-header" style="height:160px">
        <div class="card-title">
          Task Name:{{task.Name}}
        </div>
        <div class="text">
          Description: {{task.desc}}
        </div>
        <div class="card-content">
          <div>
            <div class="text1" style="padding-bottom: 8px ">
              Estimated Time:{{task.Estimatedtime}}
            </div>
            <div class="text1">
              Total Time
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  