<form (ngSubmit)="OnSubmit()" #f="ngForm">
    <div class="user-data" ngModelGroup="userdata" #userdata="ngModelGroup">
  <div class="group" style="justify-content: center">
    <div >
        <label style="font-family: Lucida Sans;font-size: 20px">Id</label>
      <input type="text" class="form-control" style="width: 312px;" name="id" id="id" ngModel required>
      <label style="font-family: Lucida Sans;font-size: 20px">Project Name</label>
      <input type="text" class="form-control" style="width: 312px;" name="pname" id="pname" ngModel required>
      <label style="font-family: Lucida Sans;font-size: 20px">Description</label>
      <input type="text" class="form-control" style="width: 312px;" name="desc" id="desc" ngModel required>
    </div>
    <div class="button">
      <button type="submit" class="btn" style="width:72.71px;background-color: dimgray;" [disabled]="!f.valid">Add</button>
      <button type="reset" class="btn">Cancel</button>
    </div>
  </div>
  </div>
</form>