.text1{
    font-family: 'Lucida Sans';
    font-size: 17px;
   
    
   
}
.text{
    font-family: 'Lucida Sans';
    font-size: 15px;
    padding-bottom: 13px;
}
.card-title{
    font-family: 'Lucida Sans';
   
    font-size: 17px
}