<div class="group" style="justify-content: center">
  <div>
    <label style="font-family: Lucida Sans;font-size: 20px">Project Name</label>
    <input type="text" class="form-control" style="width: 100%;" name="Pname" id="Dname" [(ngModel)]="data.Pname">
    <label style="font-family: Lucida Sans;font-size: 20px">Description</label>
    <textarea type="text" class="form-control" style="width:100%" name="Desc" id="Desc" [(ngModel)]="data.Desc"></textarea>
  </div>
  <div class="button">
    <button type="submit" class="btn" style="width:30%" (click)="store.editProject(store.sprint,data)" routerLink="/project">Save</button>
    <button type="button" class="btn" style="width:30%" (click)="oncancel()">Cancel</button>
  </div>
</div>