<div *ngIf="task.status=='todo'">
  <div class="card"> 
    <div class="card-header"style="height:160px;background-color: #d2d5d8;">
      <div class="card-title">
        Task Name: {{task.Name}}
      </div>
      <div class="text">
        Description: {{task.Desc}}
      </div>
      <div class="card-content">
        <div >
          <div class="text1">
            Estimated Time:{{task.Estimatedtime}}
          </div>
          <div style="display: flex;justify-content: flex-end">
            <i class="fa fa-play-circle" style="font-size: 25px;margin-top:10px;"(click)="onstart(store.sprint,store.sprint1,task.tid)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
